[defaults]
host_key_checking = False
timeout = 30

[inventory]
enable_plugins = amazon.aws.aws_ec2

[aws_ssm_connection]
transfer_method = s3
bucket_name = nasa-demo-deploy-023579852268
ssm_timeout = 3600
